<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>{% block title %}ANEMOWEN AIR QUALITY{% endblock %}
    </title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(to right, rgb(95, 195, 245,1), rgb(95, 195, 245,.6));">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'landing' %}">ANEMOWEN AIR QUALITY</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'sensor-dashboard' %}">Air Quality Dashboard</a>
              </li>            
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Login/Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">MySensor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">AirShare</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Request a Test/Sensor</a>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>  
    <div id="container" class="position-relative overflow-hidden  text-center" style="height:100vh; background: linear-gradient(rgb(95, 195, 245,.4), rgb(95, 120, 245,.4), rgb(145, 95, 245,.4), rgba(220, 95, 245, 0.4));">
      {% block content %}

      {% endblock %}
      <br/><br/><a href="{% url 'landing' %}" class="btn btn-secondary">Home</a><br/><br/>
    <div class="container">
    <span class="text-muted">
      <a class="text-muted" href="https://nhbp-nsn.gov/environmental/">NHBP Mnoki Nenyak</a>
      <a class="text-muted" href="https://nhbp-nsn.gov/">NHBP</a>
      <a class="text-muted" href="https://storymaps.arcgis.com/collections/2f9f61b09e5b4860b527eff83cc08fb4">StoryMaps</a>   
      <a class="text-muted" href="https://nhbptribe.maps.arcgis.com/apps/dashboards/0380b371a3174bd8b2edae17a6d8f30c">NIBI Water Dashboard</a>
    </span>
  </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  </body>
</html>