<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.6.1/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.6.1/build/ol.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    
    {{ form.media }}
    {% block content %}
    <h1>Add NHBP Air Quality Station</h1>
    <div class="form-group">
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">ADD</button>
    {% endblock %}
    </div>
        
</body>
</html>