<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>{% block title %}ANEMOWEN{% endblock %}
    </title>
  </head>
  <body>
    <script>
      class Widget {
        constructor(id, clsName, styles, txt) {
          this.div = document.createElement('div');
          this.type = 'Widget';
          this.div.id = id;
          this.childList = [];
          clsName != null ? this.div.className = clsName : '';
          styles != null ? styles.forEach(d => this.div.style[Object.keys(d)]=Object.values(d)) : '';
          txt != null ? this.div.innerText = txt : '';
        }
        getType() {return this.type};
        getID() {return this.div.id};
        addText(txtType, txt, styles) {
          this.text = document.createElement(txtType);
          this.text.innerText = txt; 
          styles != null ? styles.forEach(d => this.text.style[Object.keys(d)]=Object.values(d)) : '';
          this.div.append(this.text);
        }
        addBorder(styles) {
          this.div.style.border = styles;
        }
        addList(txtType, txt, styles) {
          txt.forEach(d => {
            const node = document.createElement(txtType);
            node.appendChild(document.createTextNode(d));
            styles != null ? styles.forEach(d => node.style[Object.keys(d)]=Object.values(d)) : '';
            this.div.append(node);
          }); 
        }
        addChildDiv(id, clsName, styles, txt) {
          this.childDiv = document.createElement('div');
          this.childDiv.id = id;
          clsName != null ? this.childDiv.className = clsName : '';
          styles != null ? styles.forEach(d => this.childDiv.style[Object.keys(d)]=Object.values(d)) : '';
          txt != null ? this.childDiv.innerText = txt : '';
          this.div.append(this.childDiv);
        }
        addLastChild(id, clsName, styles, txt) {
          let lastChild = document.createElement('div');
          lastChild.id = id;
          clsName != null ? lastChild.className = clsName : '';
          styles != null ? styles.forEach(d => lastChild.style[Object.keys(d)]=Object.values(d)) : '';
          txt != null ? lastChild.innerText = txt : '';
          this.childList.length != 0 ? this.childList[this.childList.length - 1].append(lastChild): this.div.append(lastChild);
          this.childList.push(lastChild);
        }
        addLastChildText(id, clsName, styles, txt, divType='div') {
          let lastChild = document.createElement(divType);
          lastChild.id = id;
          clsName != null ? lastChild.className = clsName : '';
          styles != null ? styles.forEach(d => lastChild.style[Object.keys(d)]=Object.values(d)) : '';
          txt != null ? lastChild.textContent = txt : '';
          this.childList.length != 0 ? this.childList[this.childList.length - 1].append(lastChild): this.div.append(lastChild);
          this.childList.push(lastChild);
        }
      };
  
    
    </script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">ANEMOWEN AIR QUALITY</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'sensor-dashboard' %}">SENSOR DASHBOARD</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_station' %}">ADD STATION</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">USER ADMIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">MESSAGE BOARD ADMIN</a>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>  
    <br/>
    <div id="container" class="position-relative overflow-hidden ms-5 text-center">
      
      {% block content %}

      {% endblock %}
      
  
      <br/><br/><a href="{% url 'home' %}" class="btn btn-secondary">BACK </a>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>