<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>DELETE STATION</h1><br/><br/>
    <h3>Delete: {{ station.label }} - {{ station.site_id }}</h3>
    <br/>
    <div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <strong>ARE YOU SURE???</strong><br/><br/>
        <button class="btn btn-primary">DELETE STATION</button>
    </div>
    {% endblock %}
    
</body>
</html>