{% extends 'base_sensor.html' %}
{% block content %}

<script>
  
</script> 

<div class="jumbotron text-center m-2" style="color: midnightblue;">
  </br>
  <h1>NHBP ANEMOWEN AIR SENSOR DASHBOARD </h1>
</div>

  <div class="row">
      <div class="col-xl-6">
        <div class="p-3 m-2 ms-5  border" style="background: rgb(150, 225, 255,.4);">
          
          {% include 'nhbp_sensor_map.html' %}
        </div>
      </div>

      <div class="col-xl-6 overflow-auto"  style="height: 59.5vh; ">
        <div class="p-3 m-2 me-5 border" style="background: rgb(150, 225, 255,.4);">
          <h5>NHBP SENSOR DETAIL</h5>
          <div id="stationRow"class="row">
            {% for station in response.features %}
              <script>
                var AQIcolor = getAQIcolor('{{ station.properties.AQI }}');
                var showStations = stationCards({{ station|safe }}, 'stationRow', AQIcolor);
            </script>
            {% endfor %}
          </div>
        </div>   
      </div>    
  </div>

  <div class="row">
    <div class="col-xl-6" >
      <div class="p-3 m-2 ms-5 mt-4  border " style="background: rgb(150, 225, 255,.5);" >
        <h5>NHBP AIR SENSORS</h5>
        <div class="col-md-12" >
          <div class="card card-body" style="background: floralwhite;">
           
            <table class="table table-sm">
              <tr>
                <th>  </th>
                <th>ID</th>
                <th>Sensor Name</th>
                <th>WiFiSignal</th>
                <th>Geometry</th>
              </tr>
              {% for station in stationData %}
                <tr>
                  <td><a href="{% url 'station-detail' station.pk %}" class="btn btn-sm btn-info">View</a></td>
                  <td>{{ station.site_id }}</td>
                  <td>{{ station.label }}</td>
                  <td>{{ station.wifisignal }}</td>
                  <td>{{ station.geom.0 }}, {{ station.geom.1 }}</td>
                  <td><a class="btn btn-sm btn-light" href="{% url 'update_station' station.pk %}">Update</a></td>
                  <td><a class="btn btn-sm btn-dark" href="{% url 'delete_station' station.pk %}">Delete</a></td>
                </tr>
              {% endfor %}
            </table>
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'add_station' %}">Add Station</a>
          </div>
        </div>    
      </div>   
    </div>

     <div class="col-xl-6" style="max-width: 950px;">
        <div class="p-3 m-2 me-5 mt-4 border " style="background: rgb(150, 225, 255,.5);">
          <h5>NHBP SENSOR SUMMARY</h5>
          <div id="gridRow" class ="row" > 
            {% for key, value in sum.items %}
              <script> var getCards = summaryCards({{ value|safe }}); </script>
            {% endfor %}
        </div>
        </div>   
      </div>  
      
  </div>
{% endblock %}

{% comment %} 
 

{% endcomment %}
      