{% extends 'base_sensor.html' %}
{% block content %}
    <script>
  
      const summaryCards = (data) => {
        const cCol = new Widget('','col',[],''), rows = document.querySelector('#rows');
        const card = new Widget('','card bg-primary text-white', [{'width':'400px'}], '');
        card.addChildDiv('','card-header',[],data[1],);
        const cardT = new Widget('','card-body',[],'');
        cardT.addLastChildText('','card-title',[], data[0],'H1');
        cardT.addChildDiv('','card-text',[],data[2],'P');
        card.div.appendChild(cardT.div);
        cCol.div.appendChild(card.div);
        rows.appendChild(cCol.div);
      }
    </script>

    {% include 'station_list.html' %}
    {% include 'nhbp_sensor_map.html' %}
    
    <h1>NHBP AIR SENSORS</h1>

    <div class="col-md-7">
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'add_station' %}">Add Station</a>
			<table class="table table-sm">
				<tr>
					<th>  </th>
          <th>ID</th>
					<th>Sensor Name</th>
					<th>WiFiSignal</th>
					<th>Geometry</th>
				</tr>
				{% for station in stationData %}
					<tr>
						<td><a href="{% url 'station-detail' station.pk %}" class="btn btn-sm btn-info">View</a></td>
            <td>{{ station.site_id }}</td>
						<td>{{ station.label }}</td>
						<td>{{ station.wifisignal }}</td>
            <td>{{ station.geom }}</td>
						<td><a class="btn btn-sm btn-warning" href="{% url 'update_station' station.pk %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_station' station.pk %}">Delete</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>    
<br>

<div id="rows" class="row">
{% for key, value in sum.items %}
<script>
  var getCards = summaryCards({{ value|safe }});
</script>
{% endfor %}
</div>

<div class="row">
    {% for station in response.features %}
    <div class="col">
			<div class="card bg-primary text-white" style="width: 400px;">
			  	<div class="card-header">
			  		<h3 class="card-title">{{ station.properties.label }} - {{ station.properties.ID }}</h3>
			  	</div>
			  	<div class="card-body">
                    <li> PM2.5: <b>{{ station.properties.PM2_5Value }}</b> - Time Since Seen: <b>{{ station.properties.dayHourMinSecSinceSeen }}</b> 
                        - AQI: <b>{{ station.properties.AQI }}</b> - AQI desc: <b>{{ station.properties.AQIText }}</b> - WiFiSignal: <b>{{ station.properties.WiFisignal }}</b> 
                        - version: <b>{{ station.properties.version }}</b> - geom: <b>{{ station.geometry.coordinates }}</b> 
                        - AQI 1 hr: <b>{{ station.properties.AQI1Hour }}</b> - 1 hr desc: <b>{{ station.properties.AQI1HourText }}</b>
                        - PM2.5 1 hr: <b>{{ station.properties.PM2_5_1hour }}</b> - AQI 24hr: <b>{{ station.properties.AQI24Hour }}</b>
                        - PM2.5 24hr: <b>{{station.properties.PM2_5_24hour}}</b> - AQI 24hr: <b>{{ station.properties.AQI24Hour }}</b>  
                    </li> 
			  	</div>
			</div>
	</div>        
    {% endfor %}
</div>
    {% endblock %}
